
shioaji>1.0.0
vnpy==4.0.0
vnpy-algotrading==1.0.8
vnpy-chartwizard==1.0.5
vnpy-ctabacktester==1.1.6
vnpy-ctastrategy==1.3.1
vnpy-ctp==6.7.7.1
vnpy-datamanager==1.1.1
vnpy-datarecorder==1.0.8
vnpy-excelrtd==1.0.2
vnpy-paperaccount==1.0.6
vnpy-portfoliomanager==1.0.4
vnpy-portfoliostrategy==1.1.2
vnpy-riskmanager==1.0.4
vnpy-rpcservice==1.0.6
vnpy-scripttrader==1.0.3
vnpy-spreadtrading==1.2.6
vnpy-sqlite==1.1.0
vnpy-webtrader==1.0.5
